/* Media Queries */

/* Phone Media Queries */
@media only screen and (max-width: 767px){ 
.card-body {
  margin-bottom: 20px;
}
/* for team member, testimonial and footer sections */
.grid{
  margin-top:-50px;
}
/* About and How it works*/
.center{
  text-align: center;
}

/* Home Stylings */
/* Home imgbox */
.img{
    height: 250px;
    width: 40vw;
    margin:0 !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
  }
.img-2{
    height: 250px;
    width: 40vw;
    margin:0 !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
  }
  /* home text */
 .heading{
    font-size:3em;
  }
  /* experience */
.count{
    width:90vw;
    text-align: center;
}

/* service styling */
.col-sm-mx{
  margin:0 auto;
  width: 18rem;
}

/* About styling */
.text{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5vh;
    padding-top: 3vh;
}

/* How it works styling */
.max,.imax{
  max-width: 100%;
}

/* Team Section */
.boxmid{
  width:200px;
  height:200px;
  background-color: transparent !important;
}
.imgboxmid{
  width:200px;
}
.imgmid{
  height:160px;
}

/* Testimonial */
.py-sm-5 {
    padding: 12% 0 13% 0 !important;
}
.arrow {
  justify-content: space-evenly !important;
}

.footer{
  display: grid;
  grid-template-areas:
            "support navigation"
            "stay-connected stay-connected"
            "locate locate";
  margin-top:50px;
  justify-content: center;
}

.pb-sm-5{
  padding-bottom: 3rem!important
}

.logos{
  display:block !important;
}

.locate{
  grid-area: locate;
  max-width: 100%;
}

.navigation{
  grid-area:navigation;
  justify-self: flex-end;
  margin-right: 10px !important;
  padding-top: 12%;
}

.support{
  grid-area:support;
  padding-top: 15%;
}

.stay-connected{
  grid-area:stay-connected;
  padding-top: 15%;
}

.stay-connected>h3,.address{
  text-align: center;
}

.icons{
  justify-content: center;
}

.detail-sm{
  display: flex;
  align-items: center;
  flex-direction: column;
}
}

@media only screen and (max-width: 600px){ 
  /* pop-ups */
  .signup_form_row{
    margin:0 auto;
  }
  .col-sm-auto{
    flex: 0 0 auto;
    width: auto;
  }
  .signup_form_button{
    margin: 10% auto 0 25%;
  }
}

/* Tablet Media Queries */
@media only screen and (min-width:768px) and (max-width: 950px){
  .mlt--2{
  z-index: 2;
  margin-left: 50px;
}
.h-50{
  height: 25% !important;
}
.container{
  max-width: 768px !important;
}
}

/* All Others Except Phone Media Queries */
@media only screen and (min-width: 768px){
.shadow{
  box-shadow: 4px 4px black !important;
}

/* home styling */
.leaf{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  margin-left: -34px;
  position: absolute;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 39% 100%, 43% 60%, 15% 0);
  transform: rotate(-11deg) translateX(0px) translateY(-20px);
}
.leaf_proto{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 46% 100%, 52% 50%, 19% 0);
  }
.leaf_btm,.leaf_btm_yellow{
    margin: 0;
    transform: rotate(-11deg) translate(70px, 30px);
}
.leaf_btm_yellow {
    transform: rotate(-11deg) translate(20px, 10px);
}
/* home img */
.home-img{
  border-radius: 17px 0 0 0 !important;
  box-shadow: inset 5px 4px black;
}

.bw,.bw-1{
  border-width: 10px;
  background-color: rgb(251, 255, 238);
  border-color: rgb(251, 255, 238);
  outline: outset thin;
  outline-color: black;
  position: relative;
  border-radius: 0;
  z-index: 1;
}

.bw-1{
  padding-left: 10px;
  z-index:10;
  animation:image 0.8s linear forwards;
  }
  
  
.empty{
  margin-top: 7vh;
}

/* grid for team member and testimonial */
.grid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vw;
  }
/* grid for footer */
.footer{
  grid-template-columns: auto auto auto auto !important;
 }
}

/* laptop Media Queries */
@media only screen and (min-width: 1024px){
/* Home Styling */
.leaf{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-left: -34px;
    position: absolute;
    transform: rotate(-11deg) translateX(-19px) translateY(-20px);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 39% 100%, 43% 60%, 15% 0);
  }
  .leaf_proto{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      clip-path: polygon(100% 0, 100% 100%, 100% 100%, 46% 100%, 52% 50%, 19% 0);
  }
  .leaf_btm,.leaf_btm_yellow{
    margin: 0;
    transform: rotate(-11deg) translate(120px, 50px);
  }
  .leaf_btm_yellow{
    transform: rotate(-11deg) translate(40px, 40px);
  }
   .signup_form_row {
    margin: 0 0 0 27%;
    width: 100%;
}
}

/* Desktop Media Queries */
@media only screen and (min-width: 1200px){
  .mlt--2{
    margin-top: -170px;
  }
  .mlt--2>img{
    width:280px;
    height:280px;
  }
}
/* lg-desktop */
@media only screen and (min-width: 1400px){
  .mlt--2{    
    margin-left: 190px;
  }
}
/* 4k */
@media only screen and (min-width: 1600px){
  .mlt--2{    
    margin-left: 230px;
  }
}