:root{
  --brand:rgb(251 243 220);
  --btnColor:#d58b05;
  --boxShadow:5px 5px var(--btnColor);
}
/* Global styling */
*{
  scroll-behavior: smooth;
}
/* for whole bg-color + menu background */
body,.bg,.modal-content,.accordion-item,.popup_content,.accordion-button,.accordion-button:hover{
    background-color:var(--brand);
}
/* span navbar */
.navbar{
    width:90%;
}
/* All button styling */
.btn{
  outline: solid var(--btnColor) thin;
  border-radius: 0;
  transition: .5s linear;
}
.btn:hover{
  background-color: var(--btnColor);
  color: white !important;
  transition: .5s linear;
}
.btn-hov:hover{
  background-color: aqua;
  color:#333 !important;
  transition: .5s linear;
}
/* grid for team member, testimonial and footer sections */
.grid{
  display:block;
}
/* Team section and testimonial */
.details{
  width:90%;
}
.overflow{
  overflow: hidden;
}

/* Home Stylings */
/* Home imgbox */
.d-ur{
  z-index: -2;
}
.mlt--2{
  z-index: 2;
  margin-left: 150px;
  margin-top: -130px;
}
.img{
    height: 340px;
}
.img-2{
    height: 270px;
    width: 20vw;
    margin-left: 15px;
}

/* experience */
.count{
    width:50vw;
}

/* home text */
.heading{
    font-size:4em;
    overflow-wrap: break-word;
}
.mt{
  margin-top: -60px;
}
.ml{
  margin-left: -60px;
}

/* Service styling */
.service{
  min-height: 15vh;
}
.second{
  margin-right: 20px;
}
.box-shadow{
  transition: .5s linear;
  box-shadow: 6px -6px var(--btnColor);
}
.box-shadow:hover, .box:hover, .boxmid:hover{
    transition: .5s linear;
    box-shadow: 0px 0px 12px 5px var(--btnColor);
}

/* About styling */
/* About image */
.img-3{
  width: 30vw;
  max-height: 300px;
  background: none;
  border: none;
  border-radius: 0px !important;
  box-shadow: 28px -28px 0 -13px black;
  transition: 1.3s ease-in-out;
  padding: 0;
}
.img-3:hover {
  box-shadow: none;
  border: 15px solid black;
  border-radius: 50% !important;
  margin: 0;
  padding: 0;
  transition: 1s ease-in-out;
}
.text{
  min-width: 45vw;
}

/* How it works styling */
.max{
  max-width: 30vw;
}
.imax{
  max-width: 40vw;
}
.card-img-top{
  max-height:200px;
}

/* Team section */
.box{
  width:200px;
  height:200px;
  border: 1px solid black;
  box-shadow: var(--boxShadow);
  transition: .8s linear;
}
.boxmid{
  width:260px;
  height:260px;
  box-shadow:var(--boxShadow);
  transition: .8s linear;
}
.imgbox{
  max-height:200px;
}
.imgboxmid{
  max-height:250px;
}
.imgbox>img{
  width:90%;
  height:160px;
}
.imgmid{
  width:90%;
  height: 220px;
}

/* Testimonial section */
.testimonial{
  border:none;
  background-color: rgba(255,205,100,-0.5);
  grid-auto-flow: column;
  overflow-x: hidden;
}
.card-head{
  display: flex;
  align-items: center;
}
.avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right:10px;
}
.favi-arrow{
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s ease-in-out;
}
.favi-arrow:hover{
  transition: .5s ease-in-out;
  background-color: rgb(213 139 5 / 15%);
  border-radius: 50%;
}

/* footer */
.list-style-none{
  list-style:none;
}
.bg-yellow{
  background:yellow;
  border-radius:50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.bg-yellow:hover {
    transition: .7s ease-in-out;
    box-shadow: 0px 0px 10px 3px yellow;
}
.spread{
  width: 100%;
}
.social{
  width:25px;
  height:25px;
  background-color:white;
  border-radius:50%;
  margin-right: 30px;
}
.lh-5{
  line-height:2.5;
}
.play{
  width: 35px;
  height: 35px !important;
}
.email,.number{
  margin: 0;
  padding: 0;
  height: 20px;
}
.email>p,.number>p{
  margin-left: 5px;
}
.locate{
  max-width: 24vw;
}
.line{
  width: 100%;
  height: 2px;
  margin-bottom: 18px;
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Pop-ups */
.popup{
  display: none;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(223, 211, 250, 0.4);
  position: fixed;
  z-index: 1500;
}
.popup_content{
  width: 60%;
  height: max-content;
}
.cancel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 20px 10px 0 auto;
  border: 2px black solid;
  border-radius: 50%;
}
.signup_form_row{
  margin: 0 0 0 14%;
  width: 100%;
}
.signup_form_small{
  display: block;
  text-align: center;
}
.signup_form_button{
  padding:0;
}
.trial_popup{
  font-weight: 600;
  overflow-y: auto;
}
.error_message{
  color:#f65;
  text-align: center;
}
.error_color:focus {
    border-color: #ed8cb8 !important;
    box-shadow: 0 0 0 0.25rem rgb(255 84 130 / 25%) !important;
}
.wrapper{
  flex-direction: column;
}

/* animation */
.team_member,.about,.gallery,.imax{
  transform:translateX(100%);
}
.service,.title,.max{
  transform: translateX(-100%);
}
.team{
  transform:translateY(100%);
}

.sideln_bounceleft{
  animation:bounceleft 0.8s ease-in-out forwards;
}
.sideln_bounceright{
  animation:bounceright 0.8s ease-in-out forwards;
}
.sidelnright{
  animation:sidelnright 0.8s linear forwards;
}
.sidelnleft{
  animation:sidelnleft 0.8s linear forwards;
}
.sidelnup{
  animation:sidelnup 0.8s linear forwards;
}
.fadeIn{
  animation:fadeIn 0.8s linear forwards;
}
.fadeOut{
  animation:fadeOut 0.8s linear forwards;
}
.burst{
  animation:burst 0.8s linear;
}

/* Media Queries */

/* Phone Media Queries */
@media only screen and (max-width: 767px){ 
.card-body {
  margin-bottom: 20px;
}
/* for team member, testimonial and footer sections */
.grid{
  margin-top:-50px;
}
/* About and How it works*/
.center{
  text-align: center;
}

/* Home Stylings */
/* Home imgbox */
.img{
    height: 250px;
    width: 40vw;
    margin:0 !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
  }
.img-2{
    height: 250px;
    width: 40vw;
    margin:0 !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
  }
  /* home text */
 .heading{
    font-size:3em;
  }
  /* experience */
.count{
    width:90vw;
    text-align: center;
}

/* service styling */
.col-sm-mx{
  margin:0 auto;
  width: 18rem;
}

/* About styling */
.text{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5vh;
    padding-top: 3vh;
}

/* How it works styling */
.max,.imax{
  max-width: 100%;
}

/* Team Section */
.boxmid{
  width:200px;
  height:200px;
  background-color: transparent !important;
  border: 1px solid black;
}
.imgboxmid{
  width:200px;
}
.imgmid{
  height:160px;
}

/* Testimonial */
.testimonial{
  display: grid;
  grid-auto-rows: 100%;
  grid-auto-columns: 100%;
}
.py-sm-5 {
    padding: 12% 0 13% 0 !important;
}
.arrow {
  justify-content: space-evenly !important;
}

/* footer */
.footer{
  display: grid;
  grid-template-areas:
            "support navigation"
            "stay-connected stay-connected"
            "locate locate";
  margin-top:50px;
  justify-content: center;
}

.pb-sm-5{
  padding-bottom: 3rem!important
}

.logos{
  display:block !important;
}

.locate{
  grid-area: locate;
  max-width: 100%;
}

.navigation{
  grid-area:navigation;
  justify-self: flex-end;
  margin-right: 10px !important;
  padding-top: 12%;
}

.support{
  grid-area:support;
  padding-top: 15%;
}

.stay-connected{
  grid-area:stay-connected;
  padding-top: 15%;
}

.stay-connected>h3,.address{
  text-align: center;
}

.icons{
  justify-content: center;
}

.detail-sm{
  display: flex;
  align-items: center;
  flex-direction: column;
}
}

@media only screen and (max-width: 600px){ 
  /* pop-ups */
  .signup_form_row{
    margin:0 auto;
  }
  .col-sm-auto{
    flex: 0 0 auto;
    width: auto;
  }
  .signup_form_button{
    margin: 10% auto 0 25%;
  }
}

@media only screen and (min-width: 464px) and (max-width: 600px) and (orientation: portrait){
  .popup_content{
    width: 48%;
  }
}

/* Tablet Media Queries */
@media only screen and (min-width:768px) and (max-width: 991px){
  .mlt--2{
  margin-left: 50px;
}
.img-3 {
  width: 27vw;
  }
.container{
  max-width: 768px !important;
}
}

@media only screen and (max-height:700px){
  .lfs-4{
    font-size: 13px;
  }
  .my-3{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .my-4 {
    margin-top: 1rem!important;
}
.mb-4,.my-4{
  margin-bottom: 1rem!important;
}
}

/* All Others Except Phone Media Queries */
@media only screen and (min-width: 768px){
.shadow{
  box-shadow: 4px 4px black !important;
}
.btn-warning:hover{
    box-shadow: 0px 0px 10px 3px black !important;
}

/* home styling */
.leaf{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  margin-left: -34px;
  position: absolute;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 39% 100%, 43% 60%, 15% 0);
  transform: rotate(-11deg) translateX(0px) translateY(-20px);
}
.leaf_proto{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 46% 100%, 52% 50%, 19% 0);
  }
.leaf_btm,.leaf_btm_yellow{
    margin: 0;
    transform: rotate(-11deg) translate(70px, 30px);
}
.leaf_btm_yellow {
    transform: rotate(-11deg) translate(20px, 10px);
}
/* home img */
.home-img{
  border-radius: 17px 0 0 0 !important;
  box-shadow: inset 5px 4px black;
}

.bw{
  border-width: 10px;
  background-color: #fbffee;
  border-color: #fbffee;
  outline: outset thin;
  outline-color: black;
  border-radius: 0;
  padding: 10px;
  box-shadow:var(--boxShadow);
}

.bw-anim{
  padding-left: 20px;
  animation: image 0.5s linear forwards;
  margin: -34px;
  }
  
.box:hover{
  width: 220px;
  height: 220px;
  background: black;
}

.boxmid:hover {
  width: 280px;
  height: 280px;
}

.empty{
  margin-top: 7vh;
}

/* testimonials */
.testimonial{
  grid-auto-columns: calc(calc(100%/3) - 20px);
  grid-template-columns: none !important;
}
/* grid for team member and testimonial */
.grid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vw;
  }
/* grid for footer */
.footer{
  grid-template-columns: auto auto auto auto !important;
 }
}

/* laptop Media Queries */
@media only screen and (min-width: 1024px){
/* Home Styling */
.leaf{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-left: -34px;
    position: absolute;
    transform: rotate(-11deg) translateX(-19px) translateY(-20px);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 39% 100%, 43% 60%, 15% 0);
  }
  .leaf_proto{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      clip-path: polygon(100% 0, 100% 100%, 100% 100%, 46% 100%, 52% 50%, 19% 0);
  }
  .leaf_btm,.leaf_btm_yellow{
    margin: 0;
    transform: rotate(-11deg) translate(120px, 50px);
  }
  .leaf_btm_yellow{
    transform: rotate(-11deg) translate(40px, 40px);
  }
   .signup_form_row {
    margin: 0 0 0 27%;
    width: 100%;
}
}

/* Desktop Media Queries */
@media only screen and (min-width: 1200px){
  .mlt--2{
    margin-top: -170px;
  }
  .mlt--2>img{
    width:280px;
    height:280px;
  }
}
/* lg-desktop */
@media only screen and (min-width: 1400px){
  .mlt--2{    
    margin-left: 190px;
  }
}
/* 4k */
@media only screen and (min-width: 1600px){
  .mlt--2{    
    margin-left: 230px;
  }
  .popup_content{
    width: 30%;
  }
}

/* Animation */
@keyframes image {
  from{
    transform: translateY(0) rotateZ(0);
  }
  to{
    transform: rotateZ(7deg) translate(-10px,40px);
  }  
}

@keyframes sidelnleft{
  from{
    transform: translateX(-100%);
    opacity:0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes sidelnright{
  from{
    transform: translateX(100%);
    opacity:0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes bounceright{
  0%{
    transform: translateX(100%);
    opacity:0.2;
  }
  88%{
    transform: translateX(-2.7%);
    opacity:0.8;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes bounceleft{
  0%{
    transform: translateX(-100%);
    opacity:0.2;
  }
  88%{
    transform: translateX(2.7%);
    opacity:0.8;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes sidelnup {
  from{
    transform: translateY(100%);
    opacity:0;
  }
  to{
    transform: translateY(0);
    opacity:1;
  }
}

@keyframes fadeIn {
  from{
    transform: scale(0);
    opacity:0;
  }
  to{
    transform: scale(1);
    opacity:1;
  }
}

@keyframes fadeOut{
  from{
    transform: scale(1);
    opacity:1;
  }
  to{
    transform: scale(0);
    opacity:0;
  }
}

@keyframes burst{
  from{
    transform: scale(1);
    opacity:1;
  }
  to{
    transform: scale(2);
    opacity:0;
  }
}